@import url("https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web");
body {
  background-color: #4ec5c1;
}
body ul {
  list-style: none;
}
body #jg-main {
  background-color: #f2f2f2;
  border-radius: 5px;
}
body .card-title {
  margin-top: 15px;
}
body .announce-btn {
  background-color: #ec576b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px auto;
}
body .jg-button-primary {
  background-color: #ec576b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}
body .jg-button-primary a {
  color: white;
}
body .jg-button-primary:hover {
  background-color: #4ec5c1;
  font-weight: bold;
  color: #1c2833;
}
body .jg-button-primary:hover a {
  color: #1c2833;
  text-decoration: none;
}
body .jg-add-details {
  background-color: #ec576b;
  margin-top: 5px;
  color: white;
}
body .jg-add-details a {
  color: white;
  text-decoration: none;
}
body .jg-add-details:hover {
  background-color: #1c2833;
}
body .jg-add-details:hover a {
  color: #e5e338;
}
body .edit-link {
  color: #4ec5c1;
}
body .edit-link:hover {
  color: #4ec5c1;
}
body .jg_project_title {
  color: white;
}
body .jg-project-details_container {
  position: relative;
  min-height: 300px;
}
body .jg_sub-header {
  border-bottom: solid 2px #1c2833;
  padding: 0;
}
body .jg_sub-header .active {
  background-color: #f2f2f2 !important;
  color: #1c2833 !important;
  text-decoration: underline;
}
body .jg_sub-header .nav-link {
  margin-top: 10px;
  color: #1c2833;
  font-size: 1.3em;
  font-family: "Amaranth", sans-serif;
}
body .jg_sub-header .tools-link {
  color: #ec576b;
}
body .jg_sub-header #jg-deadline_form {
  display: inline-block;
}
body .jg_sub-header #jg-deadline_edit {
  display: inline-block;
  color: #1c2833 !important;
}
body .jg_sub-header #dedelbutton {
  color: #4ec5c1;
  border: 0;
}
body #jg-side-column {
  border-right: 2px solid #1c2833;
}
body #jg-side-column h1 {
  font-size: 1.1em;
  text-transform: uppercase;
}
body #jg-side-column ul {
  list-style: none;
  padding: 0;
}
body #jg-side-column a {
  color: black;
}
body #jg-side-column:hover {
  color: #1c2833;
}
body .jg-accordion__header {
  background-color: #1c2833;
}
body .jg-accordion__header button {
  color: #e5e338;
  font-family: "Amaranth", sans-serif;
}
body .jg-accordion__header button:hover {
  color: #ec576b;
}
body table .jg_table__thead {
  background-color: #1c2833;
  color: #e5e338;
}
body table .jg_table__tbody {
  color: #1c2833;
  border-bottom: 2px solid #4ec5c1;
}
body table .jg_table__tbody:hover {
  color: #ec576b;
}
body table .jg_table__tbody .jg_table__align-bottom {
  vertical-align: bottom;
}
body table .jg_table__tbody .jg_table__column-width {
  width: 75%;
}
body form .jg_form__upload {
  text-align: center;
  margin: 10px 0 0 2em;
}
body form .jg-form__submit {
  background-color: #ec576b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}
body form .jg-form__submit:hover {
  background-color: #4ec5c1;
  font-weight: bold;
  color: #1c2833;
}
body form .jg_form__answer-div label {
  font-size: 1.5em;
  color: #ec576b;
}
body form .jg_form__answer-div textarea {
  width: 100%;
}
body .jg-humbie-title {
  color: #ec576b;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  margin: 0 auto;
}
body .jg-hippo-sprite {
  background-color: #1c2833;
}
body #jg-hippo-sprite__image {
  background: url("../../../assets/images/Hipposprite2-01.png") left center;
  width: 196px;
  height: 200px;
  margin: 0 auto;
}
body #jg-hippo-sprite__image:hover {
  animation: play 2s steps(20) infinite;
}
@keyframes play {
  100% {
    background-position: -3934px;
  }
}
body #jg-hippo-sprite__text {
  background-color: #ec576b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.5em;
  width: 50%;
  text-align: center;
}
body #jg-humbie-button-block {
  position: fixed;
  right: 5px;
  bottom: 5px;
}
body #jg-humbie-button {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  bottom: 10px;
  border: none; /* added by mark */
}
body #humbie-button-img {
  width: 100px;
  height: auto;
}
body #jg-humbie-button-img {
  width: 10%;
  height: auto;
  display: inline-block;
}

.jg_modal__title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.questions_display {
  text-align: left;
}
.questions_display h1 {
  text-align: center;
}

.jg_faq__ul {
  padding-left: 0.5em;
  cursor: pointer;
}
.jg_faq__ul li:hover {
  color: #ec576b;
}

.jg_faq__question {
  color: #1c2833;
  font-style: bold;
  font-size: 1.2em;
}

.jg_faq__answer {
  font-size: 0.9em;
  padding-bottom: 10px;
}

#close {
  text-align: right;
  padding-right: 10px;
}

.container#jg-main {
  padding: 15px;
}

/* rmm tweaks 05/10/2019 */

.jg-table__button {
  background-color: #1c2833;
  color: #fff;
  margin-top: 0;
}

.jg-table__button:hover {
  background-color: #ec576b;
  color: white;
}

.btn-danger {
  background-color: #ec576b;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

div[id*="pills-"] > div > div.half {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

div[id*="pills-"] > div > div.full {
  width: 100%;
  padding: 20px;
}

.list-group {
  padding: 0px;
}

.tab-content {
  width: 100%;
}

body #jg-main {
  max-width: 1200px;
  margin: 20px auto !important;
}

/*# sourceMappingURL=jg-styles.css.map */

@media screen and (max-width: 1200px) {
  body #jg-main {
    margin: 20px !important;
  }
}

@media screen and (max-width: 640px) {
  .filler {
    height: auto;
  }

  #jg-main > .row {
    margin: 0 15px;
  }

  .project-details {
    overflow: auto;
  }

  div[id*="pills-"] {
    width: 100%;
  }

  .d-flex.flex-row.mobile {
    flex-direction: column !important;
  }

  .project-details > #pills-tabContent {
    overflow: auto;
  }
}

@media screen and (max-width: 480px) {
  div#jg-humbie-button-block {
    text-align: center;
  }

  div > #humbie-button-img {
    width: 70px;
  }

  .tasklist > .tasklist__wrapper {
    width: 100%;
    padding: 20px;
    margin: 10px auto;
  }
}
