//importing fonts
@import url('https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web');

//font variabls
$headline-font: 'Amaranth', sans-serif;
$body-font: 'Titillium Web', sans-serif;

$primary-color: #1c2833;
$secondary-color: #4ec5c1;
$yellow: #e5e338;
$default-padding: 20px;
$center-block: 0 auto;

@mixin general-padding {
	padding: 1em 2em;
}

* {
	box-sizing: border-box;
}

body {
	font-family: $body-font;

	h1,h2{
		font-family:$headline-font;
	}
	nav{
		background-color: $primary-color;
		font-size: 20px;
		font-family: $headline-font;

		a {
			color: white;

			&:hover {
				color: $yellow;
			}
		}
		#nav__logo {
			width: 150px;
		}
	}
	footer {
		display: flex;
		background-color: $primary-color;
		color: white;
		height: 100px;
		align-items: center;
		justify-content: center;
		font-family: $headline-font;
	}
}

.filler {
	height: 75vh;
}
